-------------------------
### Exercises on IF/Loops/LISTs
----------------------------

**Exercise 01**

Check if a number is Positive , negative or Zero

- use IF/elif, else

In [12]:
given_nbr = 0

In [13]:
if given_nbr > 0:
    print('given number : {} is positive'.format(given_nbr))
elif given_nbr < 0:
    print('given number : {} is negative'.format(given_nbr))
else:
    print('it is zero')

it is zero

**Exercise 02**

determine the type of triangle based on it's sides, length

- equilateral triangle
- isoceles triangle
- scalene triangle

use the following semantics
- use IF/elif/else
- and & ==
- or

In [18]:
side1 = 20
side2 = 21
side3 = 22

In [19]:
if side1 == side2 == side3:
    print('EQ')
elif side1 == side2 or side1 == side3 or side2 == side3:
    print('ISO')
else:
    print('SCALENE')

SCALENE

**Exercise 03**

check if a given year in 4 digit is a LEAP YEAR

LEAP YEAR
- divisible by 400
- divisible by 4 and 100

**Exercise 04**

Agewise ticket price

- 0 - 20 , INR 100
- 21 - 25, INR 500
- others INR 1000

**Exercise 05**

Find out MAX, MIN value in a LIST

In [1]:
given_list = [ 10, 4, 56, 34, 67, 88, 76]

In [4]:
max(given_list)

88

In [2]:
max_val = min_val = given_list[0]

In [3]:
for each_nbr in given_list:
    if each_nbr > max_val:
        max_val = each_nbr
    elif each_nbr < min_val:
        min_val = each_nbr
        
print('Maximum value in the list: {}'.format(max_val))
print('Minimum value in the list: {}'.format(min_val))

Maximum value in the list: 88
Minimum value in the list: 4

In [7]:
a = sorted(given_list, reverse=True)

In [8]:
a

[88, 76, 67, 56, 34, 10, 4]

In [9]:
given_list

[10, 4, 56, 34, 67, 88, 76]

**Exercise 06**

Given list of numbers

and we have check if the given list is already sorted (asc or desc)

In [29]:
given_list1 = [ 10, 4, 56, 34, 67, 88, 76]
given_list2 = [ 1,2,4,77,88,99]
given_list3 = [ 99,66,55,44,33,22,11]

In [30]:
import random

In [33]:
start_range = 10
end_range   = 20

In [34]:
random.randint(start_range, end_range)

12

In [35]:
range(5)

range(0, 5)

In [52]:
gen_list = []

start_range = 10
end_range   = 20

# try nbr_iters = 100, 500, 1000

iter_loop_list = [100, 500, 1000, 1500]

sorted_count = 0

for nbr_iters in iter_loop_list:
    
    for iters in range(nbr_iters):
    
        gen_list = []
        
        for each in range(0, 5):
            gen_list.append(random.randint(start_range, end_range))

        if gen_list == sorted(gen_list) or gen_list ==sorted(gen_list, reverse=True):
            sorted_count += 1
            
    print('Exp iters = {}, number of times sorted list was generated = {}'.format(nbr_iters, sorted_count)) 
    sorted_count = 0

Exp iters = 100, number of times sorted list was generated = 2
Exp iters = 500, number of times sorted list was generated = 18
Exp iters = 1000, number of times sorted list was generated = 33
Exp iters = 1500, number of times sorted list was generated = 66

**Exercise 07**

Given 2 lists, each lits with 10 integers, between 1 and 20

- list1 = [...]
- list2 = [...]

use `randint` function of `random` library to generate the lists. 

Find number of common elements in the two lists

In [53]:
nbr_of_values = 15
start_range   = 10
end_range     = 20

list1 = []
list2 = []

for iter in range(nbr_of_values):

    list1.append(random.randint(start_range, end_range))
    list2.append(random.randint(start_range, end_range))

In [54]:
list1, list2

([10, 15, 17, 13, 16, 12, 11, 15, 13, 20, 13, 14, 18, 16, 17],
 [19, 13, 16, 15, 14, 10, 16, 13, 14, 12, 17, 17, 12, 17, 14])

find the common elements

In [56]:
common_list = []

for each_val_list1 in list1:
    
    if each_val_list1 in list2:
        if each_val_list1 not in common_list:
            common_list.append(each_val_list1)
        
common_list

[10, 15, 17, 13, 16, 12, 14]

find the union of list1 and list2

**Exercise 08**

Given 1 list, with 10 integers, between 1 and 20

- list1 = [...]

use `randint` function of `random` library to generate the lists. 

Find the kth largest number in the list

In [57]:
nbr_of_values = 15
start_range   = 10
end_range     = 20

list1 = []
list2 = []

for iter in range(nbr_of_values):

    list1.append(random.randint(start_range, end_range))

In [58]:
list1

[14, 19, 19, 10, 13, 20, 12, 14, 14, 12, 18, 10, 18, 15, 17]

In [60]:
k = 4

# find the 4th largest number in the list
sorted_list1 = sorted(list1)

sorted_list1

[10, 10, 12, 12, 13, 14, 14, 14, 15, 17, 18, 18, 19, 19, 20]

In [61]:
sorted_list1[-k]

18